# Package set used in the 2024 snapshot, version pins removed. Unmaintained; expect to resolve incompatibilities.
absl-py
astunparse
bidict
blinker
certifi
charset-normalizer
click
Flask
Flask-SocketIO
flatbuffers
gast
gevent
google-pasta
greenlet
grpcio
h11
h5py
idna
importlib_metadata
itsdangerous
Jinja2
joblib
keras
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
ml-dtypes
namex
numpy
opt_einsum
optree
packaging
pandas
protobuf
Pygments
python-dateutil
python-engineio
python-socketio
pytz
requests
rich
scikit-learn
scipy
simple-websocket
six
ta
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
tqdm
typing_extensions
tzdata
urllib3
websocket
websocket-client
Werkzeug
wrapt
wsproto
zipp
zope.event
zope.interface
